html {
    position:relative;
    min-height: 100%;
}
body {
    margin:0;
    padding:0;
}
canvas {
    display:block;
    position: fixed;
}
.main{
    position:absolute;
    padding-bottom: 4em;
}
h1 {
    color:hsl(208, 91%, 9%) ;
    font-family: Spartan;
}
h2{
    font-family: Libre Baskerville;
}
p {
    font-family: Libre Baskerville;
    text-align:start;
}
p a{
    text-decoration: underline;
}
.fa-file-pdf{
    font-size:20px;
}
/*Start Navbar Style*/
.navbar{
    background-color: black;
    width:100%;
    top:0;
    position:fixed;
    padding-left: 4.3em;
}
a {
    text-decoration: none;
}
.collapse{
    margin-left: 50em;
}
.nav-item{
    display:inline-block;
    position: relative;
    white-space: nowrap;
    letter-spacing: .055em;
    padding-bottom: 0.5em;
    color:#0d47a1;
    margin:0em 0.8em 0em 0.8em;
}
.nav-item:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0d47a1;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}
.nav-item:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
#logo {
    font-family: Spartan;
    font-size: 22px;
    color:#E7E7EE;
    background-color:#0d47a1;
}
#navbarNavDropdown{
    font-family: Libre Baskerville; 
}
/*End Navbar Style*/

/*Content Block Styles*/
.block {
    background-color: whitesmoke;
    margin-top: 80px;
    padding: 20px;
}
/*End Content Block Style*/

/*Portfolio Styles*/
.port-block {
    background-color: whitesmoke;
    margin-top: 1em;
}
figure{
    width:auto;
    transition:transform 1s;
}
figure:hover{
    transform:scale(1.1,1.1)
}
.git-link{
    text-decoration: none;
    font-size: 1.2em;
}
/*End Portfolio Styles*/

/*Contact Form Style*/
.formsize {
    min-width: 100%;
    max-width: 100%;
}

.conpad {
    padding-top: 10px;
}
.submit {
padding: 15px 30px;
font-size: 16px;
color:whitesmoke;
background-color: hsl(208, 91%, 9%);
border: none;
}
.submit:hover {
    opacity: 70%;
}
/*End Contact Form Styles

/*Start Footer Style*/
.footer-strip {
    /* Box-model */
    height: 4px;
    padding-top: 3px;
    /* Visual */
    background-color: #A0A0BB;
  }

.footer {
position: fixed;
bottom: 0;
background-color:/*hsl(208, 91%, 9%)*/#083a85;
width: 100%;
color:#E7E7EE;
}
/*End Footer Style*/
.portfolio-image{
    height: 340px;
    width: 350px;
}